body {
  font-size: 1rem;
}

body,h1,h2,h3,h4,h5 {
  font-family: "Poppins", sans-serif;
}

.w3-third img{
  margin-bottom: -6px;
  opacity: 0.8;
  cursor: pointer;
}

.w3-third img:hover{
  opacity: 1;
}

.title-line {
  width:50px;
  border: 5px solid #70a236 !important;
  /* 074b83 !important; */
}

.section-heading {
  color: #70a236;
  /* color: #074b83; */
}

#about,
#articles,
#projects,
#contact {
  margin-top: 60px;
  padding: 0 40px;
}

footer {
  padding: 20px;
  background-color: grey ;
  color: #fff;
}

.hidden {
  display: none;
}

/*--- Main ---*/
.w3-main {
  margin-left: 300px;
}

@media only screen and (max-width: 992px) {
    .w3-main {
        margin-top: 85px;
    }
}

#home {
  padding-top: 70px;
  margin-bottom: 20px;
  background-image: url("../images/uploads/banner.jpg");
  height: 40vh;
  color: #ffffff;
}

#profile-pic {
  width: 50%;
  /*border-radius: 50%;*/
}

/*--- Article Styles ---*/

.article-img {
  height: 40vh;
  width: 100%;
}

.article-post-meta {
  font-size: 1.2rem;
  color: #999;
}

.article-main {
  margin-top: 85px;
}

.code-section {
  padding: 5px;
  overflow: scroll;
}

.w3-sidebar {
  background-color: #303F53;
}
