---

---

<section id="home" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <h1>Web Developer</h1>
      </div>
      <div class="col-md-6 text-center">
        <img src="/images/uploads/profile_pic.jpg" alt="Profile" class="img-circle" id="profile-pic">
      </div>
    </div>
  </div>
</section>

<section id="about" class="container">
  <h2 class="text-center">About Me</h2>
  <hr>
  <p>
    I am web developer and network engineer. I have about eight year experience
    in information technology. Coding has become my passion. I have worked on several different projects.
    The development stack that I mainly use is HTML, CSS, Javascript and Ruby on
    Rails. I have also worked with other technologies, but the aforementioned or
    the ones I am most familiar with using. I enjoy learning so I am always looking
    to enhance my skills to make me a better programmer and to produce the best
    product for my clients.
  </p>
</section>

<section id="articles" class="container">
  <h2 class="text-center">Recent Articles</h2>
  <hr>
  <div class="row">
    <% blog.articles[0...3].each do |article| %>
      <div class="col-md-4">
        <h3><%= link_to article.title, article %></h3>
        <p><%= article.summary %></p>
      </div>
    <% end %>
  </div>
  <hr>
  <h4 class="text-center"><a href='../blogs.html'>See More</a></h4>
</section>

<section id="projects" class="container">
  <h2 class="text-center">Projects</h2>
  <hr>
  <div class="row">
    <% data.projects[0...3].each do |project| %>
      <div class="col-md-4">
        <h3><%= link_to project.name, "#{project.path}.html" %></h3>
        <p>Short description goes here</p>
      </div>
    <% end %>
  </div>
  <hr>
  <h4 class="text-center"><a href='/projects.html'>See More</a></h4>
</section>

<section id="contact">
  <h2 class="text-center">Contact</h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" name="contact" netlify-honeypot="bot-field" action="thank-you" netlify>
          <p class="hidden">
            <label>Don't fill in: <input name="bot-field"></label>
          </p>
          <p class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Enter Name">
          </p>
          <p class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Enter Email">
          </p>
          <p class="form-group">
            <textarea name="message" class="form-control" placeholder="Enter Message"></textarea>
          </p>
          <p class="form-group">
            <button type="submit" class="btn btn-primary">Send</button>
          </p>
        </form>
        </div>
      </div>
    </div>
</section>
