---

---
<div class="w3-main">
  <section id="home">
    <h1 class="w3-jumbo w3-center"><strong>Web Developer</strong></h1>
  </section>

  <section id="about" class="w3-container">
    <h2 class="w3-xxlarge section-heading"><b>About</b></h2>
    <hr class="w3-round">
    <p>
      I am web developer and network engineer. I have about eight year experience
      in information technology. Coding has become my passion. I have worked on several different projects.
      The development stack that I mainly use is HTML, CSS, Javascript and Ruby on
      Rails. I have also worked with other technologies, but the aforementioned or
      the ones I am most familiar with using. I enjoy learning so I am always looking
      to enhance my skills to make me a better programmer and to produce the best
      product for my clients.
    </p>
  </section>

  <section id="articles" class="w3-container w3-theme-l5">
    <h2 class="w3-xxlarge section-heading"><strong>Recent Articles</strong></h2>
    <hr class="w3-round">
    <div class="w3-row-padding">
      <% blog.articles[0...3].each do |article| %>
        <div class="w3-third">
          <h3><%= link_to article.title, article %></h3>
          <p><%= article.summary %></p>
        </div>
      <% end %>
    </div>
    <p class="w3-center"><a href='../blogs.html' class="w3-button w3-theme-d5 w3-padding w3-hover-shadow">
      See More <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a></p>
  </section>

  <section id="projects" class="w3-container">
    <h2 class="w3-xxlarge section-heading"><strong>Projects</strong></h2>
    <hr class="w3-round">
    <div class="w3-row-padding">
      <% data.projects[0...3].each do |project| %>
        <div class="w3-third">
          <h3><%= link_to project.name, "#{project.path}.html" %></h3>
          <p>Short description goes here</p>
        </div>
      <% end %>
    </div>
    <p class="w3-center"><a href='/projects.html' class="w3-button w3-theme-d5 w3-padding w3-hover-shadow">
      See More <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a></p>
  </section>

  <section id="contact" class="w3-container w3-theme-l5">
    <h2 class="w3-xxlarge section-heading"><strong>Contact</strong></h2>
    <hr class="w3-round">
    <div class="w3-container">
      <div class="w3-section">
        <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Dallas, TX</p>
        <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: jgarcia@garciajames.com</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form class="form-horizontal" name="contact" netlify-honeypot="bot-field" action="thank-you" netlify>
            <p class="hidden">
              <label>Don't fill in: <input name="bot-field"></label>
            </p>
            <p>
              <input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name">
            </p>
            <p>
              <input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email">
            </p>

            <p>
              <textarea class="w3-input w3-padding-16 w3-border" placeholder="Message" required name="Message"></textarea>
            </p>
            <p>
              <button class="w3-button w3-theme-d5 w3-padding-large w3-hover-shadow" type="submit">
                <i class="fa fa-paper-plane"></i> SEND MESSAGE
              </button>
            </p>
          </form>
          </div>
        </div>
      </div>
  </section>
</div>
