---
directory_index: false
pageable: true
per_page: 10
---

<h1>Projects</h1>

<ul>
  <% data.projects.each do |project| %>
    <li><%= link_to project.name, "#{project.path}.html"%></li>
  <% end %>
</ul>
